@import url('https://fonts.googleapis.com/css?family=Comfortaa');


h1 {
font-family: 'Comfortaa', cursive;
text-decoration: underline;
float: left;
margin-bottom: 5px;
}

.kobe p {
font-family: 'Comfortaa', cursive;
text-decoration: underline;
float: left;
margin-top: 5px;
}


