body {
  
}

.links {
  font-family: 'Poiret One', cursive;
  color: grey;
  text-decoration: none;
}

.namep {
  font-family: 'Concert One', cursive;
  text-decoration: underline;
}

.h1p {
  font-family: 'Concert One', cursive;
}
